
<div class="Footer">
    <div class="footer-cont">
        <div class="center">Quick Links: <a href="/">Home</a> <a href="/about">About</a> </div>
        <p class="center">Created By ~ Kanav Chadha </p>
        <p> All rigths are reserved </p>
    </div>
    <div class="footer-bott">
        <p class='center'>policies</p>
    </div>
</div>