 <html>
     <head>
         <link rel="stylesheet" href="./stylesheets/style.css">
     </head>
 {{>header}}
 <body>
<div class="page-wrap">
 <h1 class="center">About Us</h1>
<h2 class="center" style="color: forestgreen;">Designed and Created by Kanav Chadha</h2>
<div class="center">
    <img class="dev" src="https://res.cloudinary.com/dzzb5loan/image/upload/v1585218244/aeslfrjrp1oqw3v9rwvn.jpg" alt="kanav">
</div>
</div>
{{>footer}}
 </body>
 </html>