<style>
    body{
        background-image: url("https://flothemes.com/wp-content/uploads/2017/06/best-404-page-design5.png");
        background-position: center;
        max-height: 100%;
        max-width: 100%;
    }
    h1{
        text-align: center;
        padding-top: 45px;
    }
    div.ql{
        padding-top: 255px;
        text-align: center;
    }
    a{
        color: black;
        font-size: 1.5em;
    }
    a:hover{
        color: whitesmoke;
    }
</style>
<body>
    <h1>Soory! Page Not Found</h1>
    <div class="ql">
    <a href="/">Home</a>
    <a href="/about">About</a>
    </div>
</body>